<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>edit Message</title>
</head>

<body>
    <h3>Edit your message</h3>
    <p>This chat was sent from <b><%= chat.from %></b> to <b><%= chat.to %></b>
    </p>
    <form method="post" action="/chats/<%=chat._id%>?_method=PUT">
        <textarea name="newMsg" id="" cols="30" rows="10"><%= chat.msg %></textarea><br>
        <button>Update Chat</button>
    </form>
</body>

</html>